#chart {
    max-width: 600px;
    margin: 30px auto;
  }

  .docu-apex {
  position: fixed;
  bottom: 120px;
  right: 20px;
  }

  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .radio-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .radio-buttons label {
    margin-right: 10px;
  }

  #clock {
    font-size: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
  }

  .digit {
    padding: 5px;
  }

  .dark {
    color: #333;
  }

  .medium-dark {
    color: #777;
  }

  .light {
    color: #bbb;
  }